<h3>Add a new chart</h3>

<div class="container__form">
    <form class="form-size" novalidate [formGroup]="addChartForm" #commform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="text" [(ngModel)]="text" placeholder="Title" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="dates" [(ngModel)]="dates" placeholder="Dates (2007/09, 2012/12)" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="type" [(ngModel)]="type" placeholder="Type (line, spline, area…)" type="text" required>
          </mat-form-field>
        </p>
        
        <button type="submit" [disabled]="commform.invalid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
</div>
