<mat-spinner class="spinner" *ngIf="loader"></mat-spinner>

<div class="container" *ngIf="!loader">

  <mat-card class="container__charts" *ngFor="let testChart of chartsArray; let i = index">
  
      <div class="settings">

        <div class="settings__data">
          <div class="example-button-container">
            <button mat-stroked-button color="primary" (click)="openModalDataWindow(i)">Add New Data</button>
          </div>
    
          <div>
            <button mat-stroked-button color="primary" mat-button [matMenuTriggerFor]="menu">Change Data</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item 
                          *ngFor="let series of testChart.options.series; let j = index" 
                          (click)="openChangeDataWindow(j, i)"
                          >{{series.name}}</button>
                </mat-menu>
          </div>
        </div>
        
        <button class="settings_remove" mat-fab color="primary" (click)="removeChart(i)">Remove</button>
    
      </div>
        
      <div class="warning" *ngIf="!testChart.options.series[0]">Chart is empty.</div>
      <div [chart]="testChart"></div>

  </mat-card>

  <button class="window" (click)="openModalWindow()">ADD</button>
</div>