<h3>Add New Data</h3>

<div class="container__form">
  
  <p>{{data}}</p>
    <form class="form-size" novalidate [formGroup]="addDataForm" #commform="ngForm" (ngSubmit)="onSubmit()">
        
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="name" [(ngModel)]="name" placeholder="Name" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="data" [(ngModel)]="data" placeholder="Data" type="text" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="type" [(ngModel)]="type" placeholder="Type (line, spline, area…)" type="text" required>
          </mat-form-field>
        </p>
        
        <button type="submit" [disabled]="commform.invalid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
</div>
