.container__charts {
    -webkit-box-shadow:0px 0px 10px 2px #90b2df ;
    -moz-box-shadow:0px 0px 10px 2px #90b2df ;
    box-shadow:0px 0px 10px 2px #90b2df !important;
    border-radius: 2rem !important;
    margin-top: 2rem;
}